input{
    background-color:#179eff;
    border-radius:5px;
    border:none;
    height:40px;
}
button{
    background-color:#f9ff68;
    border:none;
    border-radius:5px;
    height:40px;
}